<div class="collection-item" data-test-review={{@id}}>
  <div class="flex items-center justify-between">
    <h2 data-test-title>{{@title}}</h2>
    <h2><span data-test-rating>{{@rating}}</span>/10</h2>
  </div>
</div>
