<div class="rounded shadow-lg relative mt-4">
  <Link-To @data-test-link="movie.create" @params={{array "movie.create"}}>Hello</Link-To>

  {{#each model.data as |review|}}
    <div class="collection-item" data-test-review={{review.id}}>
      <div class="flex items-center justify-between">
        <h2 data-test-title>{{review.attributes.title}}</h2>
        <h2><span data-test-rating>{{review.attributes.rating}}</span>/10</h2>
      </div>
    </div>
  {{/each}}
</div>
